<h3>The calendar</h3>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <!-- The row class is the layer that contains all your columns -->
        <div class="row">
            <ul class="list-inline calendar-header">
                <li>Monday</li>
                <li>Monday</li>
                <li>Monday</li>
                <li>Monday</li>
                <li>Monday</li>
                <li>Monday</li>
                <li>Monday</li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
            <div class="col-lg-1 col-md-1 centered-text calendar-box"><span><i class="glyphicon glyphicon-eye-open"></i></span>1</div>
        </div>
    </div>
</div>